In [4]:
import pandas as pd
movies = pd.read_pickle('movies.p')
print(movies.head())
print(movies.shape)

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17
(4803, 4)

In [6]:
taglines = pd.read_pickle('taglines.p')
print(taglines.head())
print(taglines.shape)

       id                                         tagline
0   19995                     Enter the World of Pandora.
1     285  At the end of the world, the adventure begins.
2  206647                           A Plan No One Escapes
3   49026                                 The Legend Ends
4   49529            Lost in our world, found in another.
(3955, 2)

In [8]:
movies_taglines = movies.merge(taglines, on='id', how='left')
print(movies_taglines.head())
print(movies_taglines.shape)

      id                 title  popularity release_date  \
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

                                           tagline
0                                              NaN
1             Never underestimate an overachiever.
2  Boys will be boys. . . some longer than others.
3          There's more to the story than you know
4                           A Pawsome 3D Adventure
(4803, 5)

In [12]:
genres = pd.read_pickle('genres.p')
m = genres['genre'] == 'TV Movie'
tv_genre = genres[m]
print(tv_genre)

       movie_id     genre
4998      10947  TV Movie
5994      13187  TV Movie
7443      22488  TV Movie
10061     78814  TV Movie
10790    153397  TV Movie
10835    158150  TV Movie
11096    205321  TV Movie
11282    231617  TV Movie

In [13]:
tv_movies = movies.merge(tv_genre, how='right', left_on='id', right_on='movie_id')
print(tv_movies.head())

       id                      title  popularity release_date  movie_id  \
0   10947        High School Musical   16.536374   2006-01-20     10947
1   13187  A Charlie Brown Christmas    8.701183   1965-12-09     13187
2   22488         Love's Abiding Joy    1.128559   2006-10-06     22488
3   78814       We Have Your Husband    0.102003   2011-11-12     78814
4  153397                   Restless    0.812776   2012-12-07    153397

      genre
0  TV Movie
1  TV Movie
2  TV Movie
3  TV Movie
4  TV Movie

Outer Join

In [17]:
m = genres['genre'] == 'Family'
family = genres[m].head(3)
m = genres['genre'] == 'Comedy'
comedy = genres[m].head(3)
print(family)
print(comedy)

family_comedy = family.merge(comedy, on='movie_id', how='outer', suffixes=('_fam', '_com'))
print(family_comedy)

     movie_id   genre
5          12  Family
33         35  Family
111       105  Family
    movie_id   genre
1          5  Comedy
7         13  Comedy
35        35  Comedy
   movie_id genre_fam genre_com
0        12    Family       NaN
1        35    Family    Comedy
2       105    Family       NaN
3         5       NaN    Comedy
4        13       NaN    Comedy

Merging a table to itself (self join)

In [20]:
sequels = pd.read_pickle('sequels.p')
print(sequels.head())

      id         title  sequel
0  19995        Avatar    <NA>
1    862     Toy Story     863
2    863   Toy Story 2   10193
3    597       Titanic    <NA>
4  24428  The Avengers    <NA>

In [21]:
original_sequels = sequels.merge(sequels, left_on='sequel', right_on='id', suffixes=('_org', '_seq'))
print(original_sequels.head())

   id_org                                          title_org  sequel_org  \
0     862                                          Toy Story         863
1     863                                        Toy Story 2       10193
2     675          Harry Potter and the Order of the Phoenix         767
3     121              The Lord of the Rings: The Two Towers         122
4     120  The Lord of the Rings: The Fellowship of the Ring         121

   id_seq                                      title_seq  sequel_seq
0     863                                    Toy Story 2       10193
1   10193                                    Toy Story 3        <NA>
2     767         Harry Potter and the Half-Blood Prince        <NA>
3     122  The Lord of the Rings: The Return of the King        <NA>
4     121          The Lord of the Rings: The Two Towers         122

Merging a table to itself with left join

In [22]:
original_sequels = sequels.merge(sequels, left_on='sequel', right_on='id', how='left', suffixes=('_org', '_seq'))
print(original_sequels.head())

   id_org     title_org  sequel_org  id_seq    title_seq  sequel_seq
0   19995        Avatar        <NA>    <NA>          NaN        <NA>
1     862     Toy Story         863     863  Toy Story 2       10193
2     863   Toy Story 2       10193   10193  Toy Story 3        <NA>
3     597       Titanic        <NA>    <NA>          NaN        <NA>
4   24428  The Avengers        <NA>    <NA>          NaN        <NA>

You might need to merge a table to itself when working with tables that have a hierarchical relationship, like employee and manager. You might use this on sequential relationships such as logistic movements. Graph data, such as networks of friends, might also require this technique.

Merging on indexes

There are different methods to set the index of a table, but if our data starts off in a CSV file, we can use the index_col argument of the read_csv method. This will not focus on how to set a table index, but how to use that index to merge two tables together.

Setting an index

In [25]:
print(movies.head())
# movies = pd.read_csv('movies.p', index_col=['id'])
# The above code won't work here because it is NOT a CSV file. It is a Pascal Source Code file.

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

In [ ]:
# movies_taglines = movies.merge(taglines, on='id', how='left')
# print(movies_taglines.head())

Our merge statement looks identical to before. However, in this case we are inputting to the 'on' argument the index level name which is called 'id'. The merge method automatically adjusts to accept index names or column names. The returned table looks as before, except the 'id' is the index.

In [ ]:
# samuel = pd.read_csv('samuel.csv', index_col=['movie_id', 'cast_id'])
# casts = pd.read_csv('casts.csv', index_col=['movie_id', 'cast_id'])

In this merge, we pass in a list of index level names to the 'on' argument, just like we did when merging on multiple columns. Since this is an inner join, both the movie_id and cast_id must match in each table to be returned in the result. You would see that Samuel L. Jackson has acted in more than 65 movies.

There is one more thing regarding merging on indexes. If the index level names are different between the two tables that we want to merge, then we can use the left_on and right_on arguments of the merge method. Let's go back to our movies table, shown in the top panel, and merge it with our movies_to_genres table, shown in the lower panel.

In [ ]:
movies_genres = movies.merge(genres, left_on='id', left_index=True, right_on='movie_id', right_index=True)
print(movies_genres.head())

In this merge, since we list the movies table as the left table, we set left_on equal to id and right_on equal to movie_id. Additionally, since we are merging on indexes, we need to set left_index and right_index to True. These arguments take only True or False. Whenever we are using the left_on or right_on arguments with an index, we need to set the respective left_index and right_index arguments to True. The left_index and right_index tell the merge method to use the separate indexes.